.recharts-surface:focus,
.recharts-surface:focus-visible,
.recharts-cartesian-grid:focus,
.recharts-cartesian-grid:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
.recharts-wrapper *,
.recharts-surface,
.recharts-surface:focus-visible {
  outline: none !important;
}